@model IEnumerable<MyApp.Application.ViewModels.AssetDetailsViewModel>

@{
    ViewBag.Title = "ALLDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="site-section bg-light  table-responsive-sm" style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table7.jpg')" >
        <div class="container">
            <h2>ALLDetails</h2>

            <p>
                @Html.ActionLink("Add new MetaData", "Create", "AssetMetaDatas")
            </p>

            <table class="table table-dark table-striped">


                @foreach (var item in Model)
                {


                    if (item.MetaDataGroupID == 3)
                    {
                        <thead> @Html.DisplayFor(modelItem => item.MetaGroupName)</thead>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetaDataTitle)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetMetaDataValue)
                            </td>
                        </tr>
                    }

                }

            </table>
            <table class="table table-dark table-striped">


                @foreach (var item in Model)
                {


                    if (item.MetaDataGroupID == 2)
                    {
                        <thead> @Html.DisplayFor(modelItem => item.MetaGroupName)</thead>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetaDataTitle)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetMetaDataValue)
                            </td>
                        </tr>
                    }

                }

            </table>
            <table class="table table-dark table-striped" >


                @foreach (var item in Model)
                {


                    if (item.MetaDataGroupID == 1)
                    {
                        <thead> @Html.DisplayFor(modelItem => item.MetaGroupName)</thead>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetaDataTitle)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetMetaDataValue)
                            </td>
                        </tr>
                    }

                }

            </table>
            <table>
                <thead>
                    @Html.ActionLink("Create New", "CreateMetaData","AssetMetaDatas")
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.AssetMetaDataID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AssetMetaDataID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AssetMetaDataID })*@
                </thead>
                
            </table>
        </div>
    </div>