@model IEnumerable<MyApp.Application.ViewModels.AssetDetailsViewModel> 
@*@model MyApp.Application.ViewModels.AssetDetailsViewModel*@
@{
    ViewBag.Title = "ALLDetails";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
    <div class="site-section bg-light  table-responsive-sm" style="background-image: url('../../../../images/hero_2.jpg')">
        <div class="container" style=" width:550px;">


            <p>
                @Html.ActionLink("Add new MetaData", "Create", "AssetMetaDatas")
            </p>

            <table class="table d-table-row table-dark table-responsive" style=" width:549px;">

                <thead>Identification </thead>
                @foreach (var item in Model)
                {


                    if (item.MetaDataGroupID == 3)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetaDataTitle)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetMetaDataValue)
                            </td>
                        </tr>
                    }

                }

            </table>
            <table class="table d-table-row table-dark table-responsive">

                <thead>Description</thead>
                @foreach (var item in Model)
                {


                    if (item.MetaDataGroupID == 2)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetaDataTitle)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetMetaDataValue)
                            </td>
                        </tr>
                    }

                }

            </table>
            <table class="table d-table-row table-dark table-responsive">

                <thead>Technical </thead>
                @foreach (var item in Model)
                {


                    if (item.MetaDataGroupID == 1)
                    {

                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.MetaDataTitle)
                            </td>
                            <td>:</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AssetMetaDataValue)
                            </td>
                        </tr>
                    }

                }

            </table>
           
        </div>
</div>