@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="site-section bg-light">
    <div class="container">
        @Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="site-blocks-cover overlay" style="background-image: url('../../images/hero_2.jpg')">
            <div class="container">

                <h1 class="text-danger">
                    Error. Elastic Search Connection ! verify the connection please !!!
                    <br />
                    Error. Database Connection ! verify the connection please !!!
                    <br />
                    Contact HelpDesk reporting the issues: <abbr title="Phone">Phone:</abbr>
                    +324.65.55.47.01
                    <br />
                    <strong>Support:</strong>   <a href="mailto:nkuru2001@yahoo.com">nkuru2001@yahoo.com</a><br />

                </h1>
                <h2 class="text-danger">An error occurred while processing your request.</h2>

                @Html.ActionLink("Back", @Model.ActionName, @Model.ControllerName)
            </div>
        </div>
    </div>
</div>
