@model PagedList.IPagedList<MyApp.Infrastructure.ElasticSearch.IndexDocuments.AssetDocument>
@using PagedList.Mvc;

@{
    ViewBag.Title = "SearchAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="site-section bg-light">

    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-7 text-left border-primary">
                <h2 class="font-weight-light text-primary">@Html.ActionLink("Back Home", "Index", "Home")</h2>
            </div>
        </div>
        @using (Html.BeginForm())
        {
            <p>
                Find by name: @Html.TextBox("recherche", ViewBag.CurrentFilter as string)
                <input type="submit" value="Search" />
            </p>
        }
        <div class="row mt-5">
            @foreach (var item in Model)
            {

                <div class="col-lg-6">

                    <div class="d-block d-md-flex listing">
                        <a href="@Html.DisplayFor(modelItem => item.Url)" class="img d-block" style="background-image: url('@Html.DisplayFor(modelItem => item.ThumbnailUrl)')"></a>
                        <div class="lh-content">
                            <span class="category">@Html.DisplayFor(modelItem => item.TypeAssetName)</span>
                            <a href="#" class="bookmark"><span>@Html.DisplayFor(modelItem => item.AssetID)</span></a>
                            <h3><a href="@Html.DisplayFor(modelItem => item.Url)">@Html.DisplayFor(modelItem => item.Name)</a></h3>
                            <address> @Html.ActionLink("AllDetails", "ALLDetails", new { id = item.AssetID })</address>
                            <p class="mb-0">
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-warning"></span>
                                <span class="icon-star text-secondary"></span>
                                <span class="review">(3 Reviews)</span>
                            </p>
                        </div>
                    </div>

                </div>

            }

        </div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount)

        @Html.PagedListPager(Model, page => Url.Action("SearchAction", "Home",

               new { page, recherche = ViewBag.recherche }))
    </div>
</div>
