@*@model IEnumerable<MyApp.Infrastructure.DB.MimeType>*@
@model PagedList.IPagedList<MyApp.Application.ViewModels.MimeTypeViewModel>
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/Layout_AreaAdmin.cshtml";
}


<div class="site-section bg-light table-responsive-sm">
    <div class="container">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        @using (Html.BeginForm())
        {
            <p>
                Find by name: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
        <table class="table table-dark table-striped">
            <tr>
                <th>

                    @Html.ActionLink("Mime", "Index", new { sortOrder = ViewBag.NameSortParm, searchString = ViewBag.searchString })

                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.AssetTypeID)*@
                    AssetTypeID
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Mime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeLabel)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MimeTypeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MimeTypeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MimeTypeID })
                    </td>
                </tr>
            }

        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount)
       
        @Html.PagedListPager(Model, page => Url.Action("Index",

               new { page }))
    </div>
</div>