@model IEnumerable<MyApp.Infrastructure.DB.AssetType>

@{
    ViewBag.Title = "Index";
       //Layout = "~/Views/Shared/_Layout.cshtml";
       Layout = "~/Views/Shared/Layout_AreaAdmin.cshtml";
}

<div class="site-section bg-light table-responsive-sm">
    <div class="container">
        <h2>Index</h2>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table table-dark table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TypeLabel)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeLabel)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AssetTypeID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.AssetTypeID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.AssetTypeID })
                    </td>
                </tr>
            }

        </table>
</div>
</div>